@font-face {
  font-family: 'Berkeley Mono Variable';
  src: url('Berkeley Mono Variable.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Berkeley Mono Variable', monospace;
  padding: 20px;
  background-color: #F8F8FF;
  color: #5F9EA0;
}

h1 {
  color: #5F9EA0;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 4rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-family: 'Berkeley Mono Variable', monospace;
}

.nav-link {
  color: #5F9EA0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-bottom: 3px;
}

.active {
  position: relative;
}

.active:after {
  content: "•";
  position: absolute;
  bottom: 0;
  right: -10px;
  color: #5F9EA0;
}
